* {
  margin: 0px;
  padding: 0px;
  border: border-box;
}
html {
  font-size: 62.5%;
  color: black;
}
p {
  font-size: 1.8rem;

  text-align: center;
}
.l {
  font-size: 2rem;
  margin-top: 0px;
}
.intro {
  margin-top: 3rem;
}
.logo {
  height: 5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(208, 149, 40);
  border-radius: 50%;
  background-color: blueviolet;
}
header {
  color: white;
  height: 7.5rem;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  border-radius: 2px;
}
.navbar {
  display: flex;
  gap: 5rem;
}
a,
.button {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
a:hover{
  color: antiquewhite;
}
body {
  background-color: #adb4bf;
}
.hero-section {
  max-width: 70vw;
  /* background-color: pink; */
  margin: 3rem auto;
}
.img1 {
  width: 50%;
  border-radius: 30%;
  margin-left: 25%;
}
.courses {
  max-width: 90vw;
  margin: auto;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  /*  
  background-color: #f2f7f2; */
  /* background-color: #f1fffa; */
}
.box {
  border: 2px solid grey;
  text-align: center;
  background-color: aliceblue;
}
.icons {
  width: 100%;
  font-size: 10rem;
}
h1 {
  font-size: 3.4rem;
  margin-top: 12rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  margin-left: 5%;
}
h2 {
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 3rem;
  text-transform: capitalize;
}
h3 {
  font-size: 2.4rem;
  text-transform: capitalize;
}
.botton2 {
  width: 8rem;
  height: 2rem;

  border: 2px solid rgb(109, 16, 232);

  font-size: 1.4rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  margin: auto;
  margin-top: 2rem;
  /* margin-bottom: 2rem; * */
  position: relative;
  bottom: 0.5rem;
  background-color: cadetblue;
}
.botton2:hover {
  background-color: rgb(48, 103, 205);
}
.enroll {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}
.youtubevideo {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  column-gap: 1.5rem;
  margin-top: 1rem;
}
.youtubeboxes {
  border: 2px solid black;
  height: 35rem;
}
.footer {
  height: 6.5rem;
  margin-top: 30px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.all {
  display: flex;
  gap: 5rem;
}

.contact {
  display: flex;
  gap: 5px;
}
.email {
  display: flex;
  gap: 3px;
}
.location {
  display: flex;
  gap: 3px;
}

@media only screen and (max-width: 1000px) {
  .courses {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    margin-top: 8px;
  }
  .youtubevideo {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  html {
    font-size: 55%;
  }
  .youtubeboxes {
    height: 30rem;
  }
}
@media only screen and (max-width: 450px) {
  .courses {
    grid-template-columns: 1fr;
    width: 80vw;
  }
  .youtubevideo {
    grid-template-columns: 1fr;
    width: 80vw;
  }
  .img1 {
    width: 90%;
    margin-left:5%;
  }
  h1 {
    font-size: 3rem;
  }
  .footer{
    height: 10rem;
  }
  .all{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;

  }
}
